html,
body,
#app {
  margin: 0;
  height: 100%;
}

.app {
  background: #000;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-gauge {
  width: 30vw;
  height: 30vw;
}
